@{
    ViewData["Title"] = "Dane Kontaktowe";
}
<h1>@ViewData["Title"]</h1>

<p>Skontaktuj się ze mną:</p>
<div class="col-6">
    <div class="form-group row">
        <div class="col-4">
            <label>Agnieszka Kuznecka</label>
        </div>
    </div>
</div>
<div class="col-6">
    <div class="form-group row">
        <div class="col-4">
            <label>Email: agnieszka.kuznecka@interia.pl</label>
        </div>
    </div>
</div>
<div class="col-6">
    <div class="form-group row">
        <div class="col-4">
            <label>Telefon:    887 525 953</label>
        </div>
    </div>
</div>
<div class="col-6">

            <label>Proszę kontatkować się w godzinach popołudniowych lub wieczornych.</label>

</div>